/*
 * Base Styles
 */

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  border: 0;
  background-color: #fff;
  color: #000;
  font-family: sans-serif;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
table,
form,
frame,
frameset,
fieldset,
dd,
dl,
dt,
ul,
p,
hr,
pre {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

:focus {
  outline: 1px solid #444;
}

[hidden],
template,
.hidden {
  display: none;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.75em 0;
}

h3 {
  font-size: 1.17em;
  margin: 0.83em 0;
}

h4,
p {
  font-size: 1em;
  margin: 1.12em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.5em 0;
}

h6 {
  font-size: 0.75em;
  margin: 1.67em 0;
}

strong {
  font-weight: bolder;
}

em {
  font-style: italic;
}

pre,
tt,
code,
samp {
  font-family: monospace;
}

@media print {
  h1 {
    page-break-before: always;
  }

  h2, h3, h4, h5, h6 {
    page-break-after: avoid;
  }
}

/* Anchors */

a {
  text-decoration: none;
  color: #444;
  border-bottom: 1px dotted #444;
}

a:hover, a:focus {
  color: #000;
  border-bottom: 1px solid #000;
}

a:active {
  color: #000;
}

a:visited {
  color: #0f0;
  border-bottom: 1px solid #0f0;
}
